@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--breakpoint-xs: 30rem;
	--color-fgcolor: #e7303d;
	--color-bgcolor: #f9f9e9;
	--aspect-custom: 4 / 3;

	--animate-swing: swing 7s ease-in-out infinite;
	@keyframes swing {
		0%,
		100% {
			transform: rotate(-2deg);
		}
		50% {
			transform: rotate(2deg);
		}
	}
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	counter-reset: prose-headings;
}

.prose h2::before {
	content: "⌘ ";
}

.prose h3::before {
	counter-increment: prose-headings;
	content: "¶ " counter(prose-headings) ". ";
}

.flickity-viewport {
	transition: height 200ms ease-in-out;
	transition-delay: 200ms;
}

[data-slider] .flickity-page-dot {
	background: white;
}

[data-slider] .flickity-page-dot.is-selected {
	background: transparent;
	border: 2px solid white;
}

[data-rsvp] button {
	cursor: not-allowed;
	opacity: 0.5;
}

[data-rsvp="valid"] button {
	cursor: pointer;
	opacity: 1;
}

label:has(input[type="radio"]) {
	position: relative;
	padding-left: 1.4em;
}

label:has(input[type="radio"])::before,
label:has(input[type="radio"])::after {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(33%);
	width: 1em;
	height: 1em;
	content: "";
	border: 2px solid white;
	border-radius: 100%;
}

label:has(input[type="radio"]:checked)::after {
	width: 0.5em;
	height: 0.5em;
	top: 0.58em;
	left: 0.25em;
	transform: translateY(0);
	background-color: white;
}
