@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--breakpoint-xs: 30rem;
	--color-fgcolor: #e7303d;
	--color-bgcolor: #f9f9e9;
	--aspect-custom: 4 / 3;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	counter-reset: prose-headings;
}

.prose h2::before {
	content: "⌘ ";
}

.prose h3::before {
	counter-increment: prose-headings;
	content: "¶ " counter(prose-headings) ". ";
}

.flickity-viewport {
	transition: height 200ms ease-in-out;
	transition-delay: 200ms;
}

[data-slider] .flickity-page-dot {
	background: white;
}

[data-slider] .flickity-page-dot.is-selected {
	background: transparent;
	border: 2px solid white;
}
